.s-h1{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 1rem;
    align-self: center;
}

.s-form{
    background-color: #f5f5f5;
    width: 500px;
}



/*smaller devices*/

@media (max-width: 768px) {
    .s-form{
        /*width: auto;*/
        padding: 20px;
        margin: auto;
        align-items: center;
        justify-content: center;
    }
}